body {
	padding-top: 50px;
}

ul {
    list-style-type: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    text-align: center;
    padding-left: 0px;
    font-size: 1.3em;
}

.purple {
    background-color: #B8A2F5;
}

.red {
    background-color: #FF5252;
}

.blue {
    background-color: #5487FF;
}

.center {
	width: 50%;
    margin: 0 auto;
}

.navbar {

	text-align: center;
	padding: 5px;
}

.selectBars {
	padding: 10px 5px;
}

.logo {
	font-size: 2em;
}