body {
	padding-top: 50px;
    background-color: #F5F5F5;
    font-family: 'Lato';
}

ul {
    list-style-type: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    text-align: center;
    font-size: 1.3em;
    height: 301px;
}

.purple {
    border-color: #B8A2F5;
}

.red {
    border-color: #FF5252;
}

.blue {
    border-color: #5487FF;
}

.navbar {

	text-align: center;
	padding: 5px;
}

.selectBars {
	padding: 10px 5px;
}

.logo {
	font-size: 2em;
}

#destination {
	text-align: center;
	font-size: 1.3em;
	cursor: pointer;
}

#destinationLink {
	color: blue;
}

.strike {
    text-decoration: line-through;
}

.highlight {
    font-weight: bold;
}

.timesTable {
    border-width: 3px;
    border-style: solid;
    padding: 15px 0px;
    position: relative;
    height: 425px;
}

.circle {
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    margin-bottom: 5px;
    background: #B8A2F5;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.leftCircle {
    left: 80px;
}

.rightCircle {
    right: 80px;
}

.middleCircle {
    left: 250px;
}

#displayedLocationName {
    text-align: center;
}