body {
	padding-top: 50px;
}

ul {
    list-style-type: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    text-align: center;
    font-size: 1.3em;
    height: 301px;
}

.purple {
    background-color: #B8A2F5;
}

.red {
    background-color: #FF5252;
}

.blue {
    background-color: #5487FF;
}

.navbar {

	text-align: center;
	padding: 5px;
}

.selectBars {
	padding: 10px 5px;
}

.logo {
	font-size: 2em;
}

#destination {
	text-align: center;
	font-size: 1.3em;
	cursor: pointer;
}

#destinationLink {
	color: #FFFFFF;
}

.strike {
  text-decoration: line-through;
}